HIVE_DB	

XDATA_DB

HDFS_SCHEME
HDFS_AUTHORITY
HDFS_HOME

LOGDB_HOST
LOGDB_PORT
LOGDB_PASSWD
LOGDB_DB
LOGDB_USE_UNICODE
LOGDB_CHARSET

RULEDB_HOST
RULEDB_PORT
RULEDB_PASSWD
RULEDB_DB
RULEDB_USE_UNICODE
RULEDB_CHARSET

MAIL_SERVER
MAIL_PORT
MAIL_USER
MAIL_PASSWD
